html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: aliceblue;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-m-plus-rounded);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgb(196, 203, 209), rgb(169, 169, 209));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
