.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(34, 34, 38);
  width: 70%;
  min-height: 100vh;
  overflow-x: hidden;
}
.page main {
  min-height: 150vh;
}