.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(34, 34, 38);
  width: 70%;
  min-height: 100vh;
  overflow-x: hidden;
}
.page main {
  min-height: 150vh;
}
.page main h3 {
  margin: -3rem 3.5rem 1rem 3.5rem;
  padding: 0.5rem;
  color: lightblue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
}
.page main p {
  margin: 1rem 3.5rem 0.5rem 3.5rem;
  padding: 0.5rem;
  color: aliceblue;
  font-size: 1.5rem;
}