.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(34, 34, 38);
  width: 70%;
  min-height: 100vh;
  overflow-x: hidden;
}
.page main {
  min-height: 150vh;
}
.page main h3 {
  margin: -3rem 3.5rem 1rem 3.5rem;
  padding: 0.5rem;
  color: lightskyblue;
  text-transform: uppercase;
  font-weight: 600;
  font-family: arial;
  font-size: 2.7rem;
}
.page main p {
  margin: 0.5rem 3.5rem 0.5rem 3.5rem;
  padding: 0.5rem;
  color: aliceblue;
  font-size: 1.3rem;
}
.page main p:last-child {
  margin-bottom: 3rem;
}

.page footer {
  width: 100%;
}
.page section {
  border-bottom: 3px solid aliceblue;
}
.page section:last-child {
  border-bottom: none;
}
@media (max-width: 768px) {
    .page {
        width: 100%;
    }
}