.pricingMainDiv {
    margin: 5.5rem 0.5rem 0rem 0rem;
    padding: 2.5rem 2.5rem 0rem 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricingMainDiv h3 {
    margin: 5rem 3.5rem 3rem 3.5rem;
    padding: 0.5rem;
    color: lightskyblue;
    text-transform: uppercase;
    font-weight: 600;
    font-family: arial;
    font-size: 2.4rem;
}
.pricingContainer {
    background-color: rgb(62, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 4vw, 4rem);
    border-radius: 1rem;
    width: 95%;
    height: auto;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1.4rem;
    box-sizing: border-box;
}
.pricingContainer .firstPricing,
.pricingContainer .secondPricing,
.pricingContainer .thirdPricing {
    background-color: black;
    box-shadow: 0 0 12px rgba(5,5,5,0.5);
    border-radius: 0.5rem;
    height: auto;
    min-width: 0;
    min-height: 30rem;
    width: 28%;
    padding: 0rem;
    margin: 0rem;
    position: relative;
}
.pricingContainer h4 {
    font-size: 1.4rem;
    color: rgb(116, 217, 103);
    background-color: rgb(26, 26, 26);
    font-family: arial;
    text-transform: uppercase;
    margin: 0.9rem 0.9rem 0rem 0.9rem;
    padding: 0.4rem;
    border-bottom: 3px solid aliceblue;
}
.pricingContainer p.from {
    font-size: 1.8rem;
    color: aliceblue;
    text-align: center;
    margin-top: 4rem;
}
.pricingContainer .firstPriceContainer {
    position: absolute;
    top: 10.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.pricingContainer p.discount {
    color: orangered;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 100%;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 1;
    background-color: black;
    border: 1.6px solid orangered;
    transform: translate(5.3rem, 3.8rem) rotate(25deg);
}
.pricingContainer p.oldPrice {
    text-decoration: line-through;
    color: rgb(246, 67, 2, 0.85);
    font-size: 2.5rem;
    font-weight: 500;
    background: rgb(35, 35, 35);
    border-radius: 0.5rem;
    margin: 2rem;
    text-align: center;
    border: 2px solid grey;
}
.pricingContainer p.newPrice {
    color: rgb(116, 217, 103);
    font-size: 2.8rem;
    font-weight: 800;
    transform: rotate(-20deg) translate(-1rem, -5rem);
}
.pricingContainer .free {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricingContainer .free .freeText {
    color: rgb(116, 217, 103);
    width: 70%;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 2.6rem;
    border: 2px solid rgb(116, 217, 103);
    background-color: rgb(35, 35, 35);
}
.pricingContainer .free .freeInfoText {
    font-size: 1.3rem;
    padding: 3.5rem 0.5rem 0rem 0.5rem;
    color: aliceblue;
    text-align: center;
    transform: translate(0, -1.5rem);
}
.pricingContainer .monthlyPay {
    color: rgb(116, 217, 103);
    position: absolute;
    top: 10.5rem;
    left: 50%;
    width: 75%;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    border: 2px solid rgb(116, 217, 103);
    transform: translate(-50%, 7rem);
    background-color: rgb(35, 35, 35);
}

@media (max-width: 768px) {
    .pricingContainer {
        flex-direction: column;
    }
    .pricingContainer .firstPricing,
    .pricingContainer .secondPricing,
    .pricingContainer .thirdPricing {
        width: 75%;
    }
}