.mainServiceContainer {
    margin: 8rem 3.5rem 0rem 3.5rem;
    padding: 0 0.5rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainServiceContainer h3 {
    margin: 5rem 3.5rem 3rem 3.5rem;
    padding: 0.5rem;
    color: lightskyblue;
    text-transform: uppercase;
    font-weight: 600;
    font-family: arial;
    font-size: 2.4rem;
}
.mainServiceContainer .ServiceDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 1.9rem 0.5rem 1.9rem;
    padding: 2.8rem;
    background-color: rgb(11, 11, 11);
    border-radius: 1.5rem;
    height: auto;
    width: 92%;
    min-height: 28rem;
}
.mainServiceContainer .ServiceDisplay .arrow {
    font-size: 3rem;
    padding: 0.25rem;
    margin: 0.5rem;
    color: bisque;
}
.mainServiceContainer .ServiceDisplay .infoBox {
    border-radius: 0.9rem;
    background-color: rgb(62, 62, 62);
    width: 95%;
    align-self: center;
} 
.mainServiceContainer .ServiceDisplay .infoBox h4 {
    font-size: 1.4rem;
    color: rgb(116, 217, 103);
    font-family: arial;
    text-transform: uppercase;
    margin: 0.9rem 0.9rem 0rem 0.9rem;
    padding: 0.4rem;
}
.mainServiceContainer .ServiceDisplay .infoBox p {
    font-size: 1.3rem;
    margin: 0.2rem 0.9rem;
    padding: 0.4rem;
    color: aliceblue;
    
}
